@import 'common'; 
@import 'components/resources';
@import 'components/icon/download';

.#{$prefix}-resources-list{
    padding: 30px 30px 60px;
    background-color: $color_light_gray;
    .#{$prefix}-resoures{
        margin-top: 30px;   
    }
}