.#{$prefix}-resources{
    background-color: $color_white;
    // padding: 15px 30px;
    @include border-radius();
    .#{$prefix}-btn-section{
        align-items: center;
        span{
            display: inline-block; 
        }
        .#{$prefix}-bar{
            flex: 0 0 calc(100% - 50px);
            max-width: calc(100% - 50px);
            height: 3px;
            background-color: $color_primary;
            margin-right: 10px;
        }
        .#{$prefix}-icon-image{
            background-image: url("assets/img/download.png");
            height: 40px;
            flex: 0 0 40px;
            max-width: 40px; 
        }
    }
}