.#{$prefix}-blog{
    background-color: $color_white;
    padding: 10px 15px 15px;
    @include border-radius();
    box-shadow: 0 0 10px 5px rgba(128,128,128,.28);
  
    .#{$prefix}-image-section{
        padding-top: 5px;
        height: 250px;
        overflow: hidden;
    }
    .#{$prefix}-post-desc{
        padding-top: 5px;
    }
 
}