.#{$prefix}-notice{
    background-color: $color_white;
    padding: 15px;
    @include border-radius();
    box-shadow: 0 0 10px 5px rgba(128,128,128,.28);
    .#{$prefix}-image-section{
        @extend %background-position;
        background-size: contain;
        cursor: pointer;
        flex: 0 0 300px;
        max-width: 300px;
    }
    .#{$prefix}-post-desc{
        position: relative;
        flex: 0 0 calc(100% - 300px)
    }
   
    .#{$prefix}-share-image{
        background-image: url("../img/share-icon.png");
        @extend %background-position;
        background-size: cover;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
    }
}