.#{$prefix}-resources{
    background-color: $color_white;
    padding: 15px 30px;
    @include border-radius();
    box-shadow: 0 0 10px 5px rgba(128,128,128,.28);
    position: relative;
    .#{$prefix}-desc{
        width: calc( 100% - 40px);
        padding-right: 30px;
        .#{$prefix}-date{
            border-top: 2px solid $color_primary;
            color: $color_gray;
            margin-top: 20px;
            padding-top: 20px;
        }
    }
    .#{$prefix}-download{
        background-image: url("../img/download.png");
        @extend %background-position;
        background-size: cover;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
    }
}